* {
    box-sizing: border-box;
  }

header ul {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    list-style-type: none;
    padding: 20px;
}

header h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 40px;
}

main {
  display: flex;
  justify-content: center
}

main div {
  flex-direction: column;
  padding: 5px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}
